@using Microsoft.AspNetCore.Identity
@using TWAB.Areas.Identity.Data
@using TWAB.Models

@namespace TWAB.Areas.Identity
@inject SignInManager<DBUser> SignInManager
@inject UserManager<DBUser> UserManager

@model IEnumerable<TWAB.Models.JobOffersUserViewModel>
<link rel="stylesheet" href="~/css/AdvertisementsList.css" />

<div class="jobForm">
    <form asp-action="AdvertisementsList">
        <input type="text" name="Title" id="Title" class="btn bg-lightgray jobFormPadding" placeholder="Znajdź pracę marzeń" />
        <select name="Category" id="Category" class="btn bg-lightgray dropdown-toggle jobFormPadding">
            <option>Kategoria</option>
            @{
                foreach (var item in Lists.Categories)
                {
                    <option>@item</option>
                }
            }
        </select>
        <select name="WorkingDimension" id="WorkingDimension" class="btn bg-lightgray dropdown-toggle jobFormPadding">
            <option>Wymiar pracy</option>
            @{
                foreach (var item in Lists.WrokDimension)
                {
                    <option>@item</option>
                }
            }
        </select>
        <select name="ContractType" id="ContractType" class="btn bg-lightgray dropdown-toggle jobFormPadding">
            <option>Rodzaj umowy</option>
            @{
            foreach (var item in Lists.ContractType)
            {
                <option>@item</option>
            }
        }
        </select>
        <input type="text" name="City" id="City" class="btn bg-lightgray jobFormPadding" placeholder="Miasto">
        <button type="submit" class="btn btn-primary bg-pink jobFormPadding"><img src="~/svg/search.svg" /></button>
    </form>
</div>

@foreach (var item in Model)
{
    string imgSrc = item.CompanyLogo != null ? $"data:image/png;base64,{item.CompanyLogo}" : "/path/to/default/image.png";
    <div class="jobOffer">
        <form asp-action="Advertisement">
        <input name="id" id="id" value="@item.Id" type="hidden"/>
        <button class="bttn-form" type="submit">
            <div class="full-width right-aligned first">
            <p>@Html.DisplayFor(modelItem => item.Category)</p>
            <p>@Html.DisplayFor(modelItem => item.ContractType)</p>
            <p>@Html.DisplayFor(modelItem => item.WorkDimension)</p>
            <p class="rFirst">@Html.DisplayFor(modelItem => item.ExpirationDate)</p>
        </div>
        <div class="side-by-side">
            <img src="@imgSrc" />
            <div class="stacked">
                <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
                <p>@Html.DisplayFor(modelItem => item.Salary)</p>
                <p>@Html.DisplayFor(modelItem => item.CompanyName)</p>
            </div>
        </div>
        <div class="full-width right-aligned">
                <p class="rFirst">@Html.DisplayFor(modelItem => item.City)</p>
                <p class="rFirst">@Html.DisplayFor(modelItem => item.Province)</p>
        </div>
        </button>
        </form>
    </div>
}