@using Microsoft.AspNetCore.Identity
@using TWAB.Areas.Identity.Data
@using TWAB.Models
@namespace TWAB.Areas.Identity
@inject SignInManager<DBUser> SignInManager
@inject UserManager<DBUser> UserManager

@model OfferDetailsViewModel
@{
    string imgSrc = Model.CompanyLogo != null ? $"data:image/png;base64,{Model.CompanyLogo}" : "/path/to/default/image.png";
}
<link rel="stylesheet" href="~/css/AdvertisementDetails.css" />

<div class="containter">
    <div class="offerHeader">
        <div class="headerLeft">
            <img src="@imgSrc" class="logo" />
            <h5>@Model.CompanyName</h5>
        </div>
        <div class="headerRight">
            <div class="expDate">
                <p>Ważna do: @Model.ExpirationDate</p>
            </div>
        </div>
    </div>

    <div class="offerTitle">
        <h4>@Model.Title</h4>
    </div>

    <div class="main">
        <div class="mainLeft">
            <div class="border1">
                <p>@Model.Description</p>
            </div>
            <h5>Wymagania</h5>
            <div class="border1">
                @foreach (var item in Model.Requirements)
                {
                    <p><img src="~/svg/reqArrow.svg"> @item</p>
                }
            </div>
        </div>
        
        <div class="mainRight">
            <table>
                <tr>
                    <td><img src="~/svg/Briefcase.svg"> @Model.Category</td>
                </tr>
                <tr>
                    <td><img src="~/svg/PieChart.svg"> @Model.City</td>
                </tr>
                <tr>
                    <td><img src="~/svg/CashCoin.svg"> @Model.Salary</td>
                </tr>
                <tr>
                    <td><img src="~/svg/PieChart.svg"> @Model.WorkDimension</td>
                </tr>
                <tr>
                    <td><img src="~/svg/FileEarmarkText.svg"> @Model.ContractType</td>
                </tr>
                <tr>
                    <td><img src="~/svg/Star.svg"> Benefity:</td>
                </tr>
                @foreach (var item in Model.Benefits)
                {
                    <tr>
                        <td>@item</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
    var user = UserManager.GetUserAsync(User).Result; 
    var roles = user != null ? UserManager.GetRolesAsync(user).Result : new List<string>();
        @if (roles.Contains("User"))
        {
    @* Views/YourController/Index.cshtml *@
    <div id="partialViewContainer">
    </div>

    <button id="loadPartialViewButton" data-id-ogloszenia="@Model.Id" data-id-usera="@user.Id">Aplikuj</button>

        }
    }
    else
    {
        <p>Zaloguj się, aby aplikować</p>
    }

    

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#loadPartialViewButton').click(function () {
            var idOgloszenia = $(this).data('id-ogloszenia');
            var idUsera = $(this).data('id-usera');

            $.ajax({
                url: '@Url.Action("LoadCreateApplicationView", "Recruitment")',
                type: 'GET',
                data: { idOgloszenia: idOgloszenia, idUsera: idUsera },
                success: function (result) {
                    $('#partialViewContainer').html(result);
                },
                error: function (xhr, status, error) {
                    console.error("Status: " + status + ", Error: " + error);
                    console.error("Response Text: " + xhr.responseText);
                    alert('Error loading partial view');
                }
            });
        });
    });
</script>
