@using Microsoft.AspNetCore.Identity
@using TWAB.Areas.Identity.Data
@using TWAB.Models

@namespace TWAB.Areas.Identity
@inject SignInManager<DBUser> SignInManager
@inject UserManager<DBUser> UserManager

@model IEnumerable<TWAB.Models.JobOffersUserViewModel>
<link rel="stylesheet" href="~/css/AdvertisementsList.css" />

<div class="jobForm">
    <form asp-action="AdvertisementsList">
        <input type="text" name="Tytul" id="Tytul" class="btn bg-lightgray jobFormPadding" placeholder="Znajdź pracę marzeń" />
        <select name="Kategoria" id="Kategoria" class="btn bg-lightgray dropdown-toggle jobFormPadding">
            <option>Kategoria</option>
            @{
                foreach (var item in Lists.Categories)
                {
                    <option>@item</option>
                }
            }
        </select>
        <select name="WymiarPracy" id="WymiarPracy" class="btn bg-lightgray dropdown-toggle jobFormPadding">
            <option>Wymiar pracy</option>
            @{
                foreach (var item in Lists.WrokDimension)
                {
                    <option>@item</option>
                }
            }
        </select>
        <select name="RodzajUmowy" id="RodzajUmowy" class="btn bg-lightgray dropdown-toggle jobFormPadding">
            <option>Rodzaj umowy</option>
            @{
            foreach (var item in Lists.ContractType)
            {
                <option>@item</option>
            }
        }
        </select>
        <input type="text" name="Miasto" id="Miasto" class="btn bg-lightgray jobFormPadding" placeholder="Miasto">
        <button type="submit" class="btn btn-primary bg-pink jobFormPadding"><img src="~/svg/search.svg" /></button>
    </form>
</div>

@foreach (var item in Model)
{
    //string imgSrc = item.CompanyLogo != null ? $"data:image/png;base64,{item.CompanyLogo}" : "/path/to/default/image.png";

    <div class="jobOffer">
        <a asp-action="Advertisement" asp-route-id="@item.Id">
            <div class="full-width right-aligned first">
            <p>@Html.DisplayFor(modelItem => item.ContractType)</p>
            <p>@Html.DisplayFor(modelItem => item.WorkDimension)</p>
            <p class="rFirst">@Html.DisplayFor(modelItem => item.ExpirationDate)</p>
        </div>
        <div class="side-by-side">
            <!--
                    <img src="imgSrc" />
            -->
            <div class="stacked">
                <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
                <p>@Html.DisplayFor(modelItem => item.Salary)</p>
                <p>@Html.DisplayFor(modelItem => item.CompanyName)</p>
            </div>
        </div>
        <div class="full-width right-aligned">
                <p class="rFirst">@Html.DisplayFor(modelItem => item.City)</p>
                <p class="rFirst">@Html.DisplayFor(modelItem => item.Province)</p>
        </div>
        </a>
    </div>
}